/* 

PORTFOLIO PAGE

*/

.button-filter{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 12px;
    padding: 112px 0 56px 0;
}

button{
    background-color: var(--grey-bg);
    border-radius: 4px;
    border: 0;
    padding: 0 20px 0 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
     0px 1px 2px rgba(0, 0, 0, 0.08),
     0px 2px 2px rgba(0, 0, 0, 0.12);

}

button:hover,
button:focus {
    cursor: pointer;
    background-color: var(--highlight-color);
    color: var(--white-color);
    border: 0;
}

.grid-box{
    display: flex;
    list-style: none;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 82px;
}

ul.grid-box>li {
    width: 370px;

    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

ul.grid-box>li h3 {
    text-align: left;   
    text-decoration: none;
    padding: 20px 24px 4px 24px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;

    letter-spacing: 0.06em;

    color: var(--black-color);
}

ul.grid-box>li p {
    text-align: left;
    text-decoration: none;
    padding: 0px 24px 20px 24px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    letter-spacing: 0.03em;

    color: var(--grey-color);
}


