/* 

PORTFOLIO PAGE

*/

.main-section{
    margin: 0 var(--outer-margin) 0 var(--outer-margin);
}

.main-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 106px 0px 50px 0px;
    padding: 0;
}

.button-list {
    display: flex;
    margin-left: 8px;
}

.button-list button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;

    letter-spacing: 0.03em;
    border-radius: 4px;

    background: var(--grey-bg);
    color: var(--black-color);
    border: 0;
    cursor: pointer;

}

.button-list>button:hover,
.button-list>button:focus {
    background-color: var(--highlight-color);
    color: var(--white-color);
}

.grid-section {
    display: flex;
    justify-content: center;
    margin: 0 var(--outer-margin) 0 var(--outer-margin);
}

.grid-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px;    
    padding: 0;
}

.grid-list {
    list-style: none;
    width: 370px;
    height: 404px;
    gap: 30px;
    z-index: 1;

    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.grid-list>span.bold-text {
    display: flex;
    text-align: left;   
    padding: 20px 24px 4px 24px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;

    letter-spacing: 0.06em;

    color: var(--black-color);
}

.grid-list>span.filter-text {
    display: block;
    text-align: left;
    padding: 0px 0px 20px 24px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    letter-spacing: 0.03em;

    color: var(--grey-color);
}