@import url(modern-normalize.css);
@import url(header.css);
@import url(portfolio.css);
@import url(footer.css);



:root{
    --h:yellow;
    --highlight-color:#2196F3;
    --white-color:#FFFFFF;
    --black-color:#212121;
    --grey-color:#757575;
    --bg-color:#2F303A;
    --grey-bg: #F5F4FA;
    --outer-margin: calc((100% - 1200px) / 2);
    --inner-padding: 94px 0 94px 0;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--white-color);
    color: var(--grey-color);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.list{
    display: flex;
    list-style: none;
}


/*Background*/
section.background{
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--bg-color);
}

main::before{
    content: "";
    display: flex;
    align-items: flex-end;
    width: 100%;
    border: 1px solid #ECECEC;
}

/* SOLUCIONES EFICACES PARA SU NEGOCIO */
h1.main-tittle{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        width: 696px;

        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        color: var(--white-color);
}

/* Auto layout */
.main-button{
        cursor: pointer;
        padding: 10px 32px;
        width: 261px;
        height: 50px;
        margin-top: 30px;


        background: var(--highlight-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
}

.main-button:hover {
    box-shadow: 1px 1px 4px var(--white-color);
    color: var(--white-color);
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);

}


/* 

Main articles 

*/
.section{
    padding: var(--inner-padding);
}

.sec-a{
    padding-bottom: 0px;
}

.sec-b {
    padding-bottom: 0px;
}

.sec-c {
    padding-top: 60px;
}



ul.article-ulist{
    display: flex;
    list-style: none;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

ul.article-ulist>li{
    width: 270px;
    }


.article-tittle {
    text-align: start;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 10px;
    color: var(--black-color);
}

/*

US

*/

div.container>h2{
    text-align: center;
    padding-bottom: 55px;
    color: var(--black-color);
}

.us-list{
        display: flex;
        list-style: none;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-bottom: 94px;
}

/*

TEAM

*/

.team-section{
    background-color: var(--grey-bg);
}


.team-box{
    display: flex;
        list-style: none;
        gap: 37px;
        flex-wrap: wrap;
        justify-content: space-evenly;
}

.team-list{
    background-color: var(--white-color);
    height: 368px;

    /*CARD SHADOW*/

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
             0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
}

li>h3{
    display: block;
    text-align: center;
    padding-top: 30px;
    margin: 0px;
    padding-bottom: 0px;

    font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
    color: var(--black-color);
}

li>p{
    display: block;
    padding-top: 10px;
    padding-bottom: 30px;

    font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */

        text-align: center;

        color: var(--grey-color);
}